nnoremap f e
nnoremap p r
nnoremap g t
nnoremap j y
nnoremap l u
nnoremap u i
nnoremap y o
nnoremap ; p
nnoremap r s
nnoremap s d
nnoreamp d g
nnoremap n j
nnoremap e k
nnoremap i l
nnoremap o ;
nnoremap k n
