nnoremap f e
nnoremap F E
nnoremap p r
nnoremap P R
nnoremap g t
nnoremap G T
nnoremap j y
nnoremap J Y
nnoremap l u
nnoremap L U
nnoremap u i
nnoremap U I
nnoremap y o
nnoremap Y O
nnoremap ; p
nnoremap : P
nnoremap r s
nnoremap R S
nnoremap s d
nnoremap S D
nnoremap d g
nnoremap D G
nnoremap n j
nnoremap N J
nnoremap e k
nnoremap E K
nnoremap i l
nnoremap I L
nnoremap o ;
nnoremap O :
nnoremap k n
nnoremap K N
